name: Auth WF

on:
  workflow_call:
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true

jobs:

  Auth-Hello:

    # Note that setting this (Copilots idea) doesn't result in any changes to the subject  
    # env:
    #   OIDC_SUBJECT: "repo:${{ github.repository }}:workflow:build"
      
    runs-on: ubuntu-latest
    steps:
      - run: echo Hello from the Auth Workflow.

      - name: OIDC Login
       
        # Note that setting this (Copilots idea) doesn't result in any changes to the subject either
        # env:
        #   OIDC_SUBJECT: "repo:${{ github.repository }}:workflow:build"
          
        uses: azure/login@v1
        with:
          audience: api://AzureADTokenExchange-demo
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }} 

      - name: 'Run Azure CLI command'
        run: |
          az account show
          pwd
